.container{
    background-color: #17171A;
    color: white;
}

.inner{
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px;
}

.inner h1{
    font-size: 3rem;
    font-weight: 500;
    font-family: Poppins, sans-serif;
}

.inner h2{
    font-size: 1.5rem;
}