.container{
    background-color: #17171A;
}

.inner{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    height: 70px;
    
}

.leftNav{
    display: flex;
    color: white;
    width:50%;
    justify-content: space-evenly;
    align-items: center;
}


.nav_link{
    font-family: 'Poppins', sans-serif;
    font-size:1.2rem;
    cursor:pointer;
}

.launch_app{
    background-color:#17171A;
    color:#FFFFFF;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-color:white;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    border-radius: 5px;
    border: none;
    font-family: Poppins, sans-serif;
    font-size: 1.1rem;
}

@media screen and (max-width:700px) {
    .launch_app{
        display: none;
    }
    .leftNav{
        display: none;
    }
}

